.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.box1 {
  background-color: #4caf50;
  width: 100px;
  height: 80px;
}

.box2 {
  background-color: #2196f3;
  width: 120px;
  height: 100px;
}

.box3 {
  background-color: #34495e;
  width: 200px;
  height: 150px;
}

.box4 {
  background-color: #9b59b6;
  width: 120px;
  height: 100px;
}

.box5 {
  background-color: #ff9800;
  width: 100px;
  height: 80px;
}
